@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --rosa: #FF4588;
    --azul: #343BE5;
    --branco: #FAFAFA;
    --preto: #010B13;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-home {
    background-color: var(--branco);
    padding-top: 260px;
    padding-inline: 170px;
}

.alinhamento1-section2-home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container_quad{
    width: 860px;
    height: 810px;
    border-radius: 39px;
    background-color: var(--azul);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container_quad h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--branco);  
    font-size: 36px;

}

.container_quad p{
    color: var(--branco);
}

.quebra-itens {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.quebra-itens p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--branco);  
    font-size: 24px;
}

.estrelinha{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_meialua{
    background-color: var(--rosa);
    width: 507px;
    height: 810px;
    border-top-left-radius: 670px;
    border-top-right-radius: 670px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;

}

.container_meialua p{
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: var(--branco);
}

.container_meialua .aprenda{
    font-weight: bold;
    font-style: normal;
    font-size: 48px;
    writing-mode: horizontal-tb;
    /* text-orientation: upright; */
}


.txt-acronimo{
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    display: flex;
    width: 27px;
}

.alinhamento-acronimo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 300px;
    margin-left: 108px;
    margin-top: -25px;
}