@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#section1-home {
    background-color: #343BE5;
    padding-top: 9em;
}

.triangulo_esquerda {
    border-top: 150px solid transparent;
    border-bottom: 150px solid transparent;
    border-left: 1920px solid #FF4588;
}

.triangulo_direita{
    border-top: 150px solid transparent;
    border-bottom: 150px solid transparent;
    border-right: 1920px solid #FF4588;
}

.section1-text1 {
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FAFAFA;
    font-size: 40px;
    margin-right: 4rem;
}

.section1-text2 {
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FAFAFA;
    font-size: 40px;
    text-align: center;
}


.texto-rosa {
    color: #FF4588;
}

.alinhamento1-section1-home{
    padding-inline: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section1-home-botao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: -2rem;
    height: 304px;
}

.botao1-section1-home {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    text-decoration: none;
    color: #343BE5;
    border: none;
    width: 351px;
    height: 107px;   
    border-radius: 13px;
    margin-bottom: 45px;
}


.botao2-section1-home {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    text-decoration: none;
    color: #FF4588;
    border: none;
    width: 351px;
    height: 107px;   
    border-radius: 16px;
    margin-top: 45px;
    top: -5rem;
}

/* SECTION 2 */

.alinhamento2-section1-home {
    display: flex;
    flex-direction: column;
    background-color: #343BE5;  
    align-items: center;
}

.texto3-section1-home h3{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FAFAFA;
    font-size: 48px;
    margin-bottom: 43px;
}

.alinhamento3-section1-home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tab_social {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.tab_social ul li {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;

}

.tab_social strong{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FAFAFA;
    font-size: 32px;
}

.tab_social p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FAFAFA;
    font-size: 24px;
    margin-left: -30px;
}

.tab_social img {
    width: 71px;
    height: 71px;
    margin-inline: auto;
    margin-bottom: 78px;
}

.tab_desempenho {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.tab_desempenho ul li{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.tab_desempenho strong {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FAFAFA;
    font-size: 32px;    
}

.tab_desempenho p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FAFAFA;
    font-size: 24px;
    text-align: center;
    margin-left: -30px;
}

.tab_desempenho img {
    width: 71px;
    height: 71px;
    margin-inline: auto;
    margin-bottom: 57px;
}

.vl {
    border-left: 6px solid #FAFAFA;
    height: 398px;
    margin-inline: 47px;
  }
