@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    top: 0;
    left: 0;
    position: fixed;
    height: 3.5rem;
    padding-inline: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: rgba(0, 0, 0, .1);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.logo {
    width: 5rem;
}

.navbar a {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: #fff;
    margin-left: 9rem;
}

.bot_nav_entrar {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: #fff;
    margin-left: 9rem;
    background: none;
    padding-inline: 1rem;
    border-radius: .5rem;
    border-color: #FF4588;
    border-style: groove;
}